<% include ../partials/header %>

<div class="container">

  <h1><%= campground.name %> </h1>

  <img src="<%= campground.image %>">

  <p><%= campground.description %></p>

  <% campground.comments.forEach(function(comment){ %>
    <p><%= comment.text %> -  <%= comment.author %></p>
  <% }) %>

  <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Make new comment</a>

</div>

<% include ../partials/footer %>
