<% include ../partials/header %>

<div class="container">
  <div class="row">

      <div class="col-md-3">
        <blockquote class="blockquote text-center">
          <p class="mb-0 h3 align-self-center">Campgrounds</p>
        </blockquote>
        <div class="card list-group-flush">
          <li class="list-group-item active py-lg-1">Info1</li>
          <li class="list-group-item py-lg-1">Info2</li>
          <li class="list-group-item py-lg-1">Info3</li>
        </div>
      </div>

      <div class="col-md-9">
        <div class="card">
          <img class="img-fluid" style="width: 100%;" src="<%= campground.image %>">
          <div class="card-body">
            <h4 class="float-right">$9.00/night</h4>
            <h4><%= campground.name %></h4>
            <p><%= campground.description %></p>
          </div>

          <div class="card-footer">

            <a class="btn btn-success btn-sm float-right" href="/campgrounds/<%= campground._id %>/comments/new">Make new comment</a>
            <div class="container" style="margin-top: 50px;">
              <% campground.comments.forEach(function(comment){ %>
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><%= comment.author %></h5>
                <small>3 days ago</small>
              </div>
              <p><%= comment.text %></p>
              <% }) %>
            </div>


          </div>
        </div>
      </div>

  </div>
</div>

<% include ../partials/footer %>
